h1{
    color: green ;
    text-align: center;
}
.purple{
    color: purple;
}
.column{
    height: 500px;
    width:  31%;
    display: inline-block;
    text-align: center;
    border: 1px solid black;

}
main{
    display: flex;
}
.photo{
    height: 100px;
    width: 100px;
}